<link rel="stylesheet" href="{{ 'section-main.css' | asset_url }}">

<div class="section_first_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_second_contain">
  <div class="text_contain">
    <h2>デジマスターとは？</h2>
  </div>
  <div class="block_contain">
    <div class="first_block">
      <img src="{{ section.settings.second_icon_a | image_url }}" alt="Second Icon">
      <p>6ヶ月でWebマーケターを育成するスクール</p>
    </div>
    <div class="second_block">
      <img src="{{ section.settings.second_icon_b | image_url }}" alt="Second Icon">
      <p>副業や転職で必須な実務経験を積める</p>
    </div>
    <div class="third_block">
      <img src="{{ section.settings.second_icon_c | image_url }}" alt="Second Icon">
      <p>卒業後は提案から実務までをこなせるWebマーケターに</p>
    </div>
  </div>
</div>

<div class="section_third_contain">
  <div class="text_contain">
    <h2>デジマスターの強み</h2>
  </div>
  <div class="block_contain">
    <div class="first_block">
      <div class="block_text">
        <div>
          <div>01</div>
          <h3>業界最安値水準の月額¥12,298〜</h3>
        </div>
      </div>
      <div class="block_table">
        <table>
          <thead>
            <tr>
              <th class="th1"></th>
              <th class="th2"><div>デジマ<br class="sp_table" />スター</div></th>
              <th class="th3"><div>A社</div></th>
              <th class="th4"><div>B社</div></th>
              <th class="th5"><div>C社</div></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td1">受講費用（総額）</td>
              <td class="td2">24.8<span>万円〜</span></td>
              <td class="td3">38.5<span>万円〜</span></td>
              <td class="td3">46.2<span>万円〜</span></td>
              <td class="td3">26.7<span>万円〜</span></td>
            </tr>
            <tr>
              <td class="td1">入会金</td>
              <td class="td2">-</td>
              <td class="td3">7<span>万円</span></td>
              <td class="td3">-</td>
              <td class="td3">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="second_block">
      <div class="block_text">
        <div>
          <div>02</div>
          <h3>キャリア面談や追加講義などのオプションが充実</h3>
        </div>
      </div>
      <div class="block_block">
        <div class="b_block_first">
          <div class="b_block_image">
            <img src="{{ section.settings.third_icon_a |  image_url }}" alt="Third Icon">
          </div>
          <div class="b_block_text">
            <h4>キャリア面談</h4>
            <p>現在も最前線で活躍するマーケティング/広告代理店出身者が模擬面談や書類添削を対応</p>
          </div>
        </div>
        <div class="b_block_second">
          <div class="b_block_image">
            <img src="{{ section.settings.third_icon_b | image_url }}" alt="Third Icon">
          </div>
          <div class="b_block_text">
            <h4>追加講義例</h4>
            <p>
              ・Chat GPT活用<br />
              ・HTML/CSS講座<br />
              ・Word Press入稿<br />
              ※1コマ〜選択可能。別途料金。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="third_block">
      <div class="block_text">
        <div>
          <div>03</div>
          <h3>全額返金制度あり</h3>
        </div>
      </div>
      <div class="block_image">
        <img src="{{ section.settings.third_image |  image_url }}" alt="Third Image">
      </div>
    </div>
  </div>
</div>

<div class="section_fourth_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_fifth_contain">
  <div class="wrapper_fifth">
    <div class="text_contain">
      <h2>未経験から本当に大丈夫？</h2>
    </div>
    <div class="shape_contain">
      <div class="shape_first">
        <img src="{{ section.settings.fifth_shape_a_pc|  image_url }}" alt="Fifth Shape" class="shape_pc" />
        <img src="{{ section.settings.fifth_shape_a_sp |  image_url }}" alt="Fifth Shape" class="shape_sp" />
        <p>PCスキルに<br class="sp_p" />自信がない。。</p>
      </div>
      <div class="shape_second">
        <img src="{{ section.settings.fifth_shape_b_pc |  image_url }}" alt="Fifth Shape" class="shape_pc" />
        <img src="{{ section.settings.fifth_shape_b_sp |  image_url }}" alt="Fifth Shape" class="shape_sp" />
        <p>マーケティングは<br class="sp_p" />難しそう。。</p>
      </div>
    </div>
    <div class="image_contain">
      <img src="{{ section.settings.fifth_image | image_url }}" alt="Fifth Image">
    </div>
  </div>
</div>

<div class="section_sixth_contain">
  <div class="wrapper_sixth">
    <div class="text_contain">
      <h2>知識だけでは足りない。<br />
        実際に求められるのは、<span>“即戦力の実務経験”</span>です。
      </h2>
    </div>

    <div class="block_first">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_a | image_url }}" alt="Sixth Image">
      </div>
      <div class="text_contain">
        <h3>Webマーケティング業界の現状</h3>
        <div class="text_check">
          <div class="check">
            <img src="{{ section.settings.sixth_icon | image_url }}" alt="Sixth Icon">
            <p>案件には「実務経験者歓迎」の文字がずらり</p>
          </div>
          <div class="check">
            <img src="{{ section.settings.sixth_icon | image_url }}" alt="Sixth Icon">
            <p>初心者の壁を越えるには、経験が必要</p>
          </div>
          <div class="check">
            <img src="{{ section.settings.sixth_icon | image_url }}" alt="Sixth Icon">
            <p>でも、どうやって経験を積むの？</p>
          </div>
        </div>
      </div>
    </div>

    <dvi class="block_second">
      <div class="text_contain">
        <div class="sixth_shape">
          <img src="{{ section.settings.sixth_shape | image_url }}" alt="Sixth Shape">
        </div>
        <h3>あなたの答えはここにあります</h3>
      </div>
      <div class="text_contain_b">
        <h4>
          <span>デジマスター</span>は、 "<span>リアルな実務経験</span>"を提供する<br />
          Webマーケティングスクールです。
        </h4>
      </div>
    </dvi>

    <div class="block_third">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_b | image_url }}" alt="Sixth Image">
      </div>
      <div class="text_contain">
        <div>01</div>
        <h3>クライアント案件で実践</h3>
        <p>* 実際の企業と連携し、2ヶ月間のリアルなプロジェクトを担当。</p>
        <p>* 成果を出すことで、自信と実績を手に入れられます。</p>
      </div>
    </div>  

    <div class="block_fourth">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_c | image_url }}" alt="Sixth Image">
      </div>
      <div class="text_contain">
        <div>02</div>
        <h3>初心者でも安心のサポート</h3>
        <p>* 専任講師による丁寧な指導。</p>
        <p>* わからないことはすぐに相談できる環境。</p>
      </div>
    </div>  

    <div class="block_fifth">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_d | image_url }}" alt="Sixth Image">
      </div>
      <div class="text_contain">
        <div>03</div>
        <h3>学んだスキルを即活用</h3>
        <p>* 実務に直結するスキルセット。</p>
        <p>* 修了後には自信を持って次のステップへ。</p>
      </div>
    </div>

    <div class="block_sixth">
      <div class="first_contain">
        <div class="text_title">
          <p>1ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            基礎研修<br />
            →Webマーケティングとは,<br />
            →指標/ツール/媒体の基本
          </p>
        </div>
      </div>
      <div class="second_contain">
        <div class="text_title">
          <p>2ヶ月目〜3ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            実務準備<br />
            →実務講義＋実践<br />
            →中間テスト
          </p>
        </div>
      </div>
      <div class="third_contain">
        <div class="text_title">
          <p>4ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            データ分析<br />
            →計測ツールの講義＋実践<br />
            →座学最終テスト
          </p>
        </div>
      </div>
      <div class="fourth_contain">
        <div class="text_title">
          <p>6ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            実務研修<br />
            →実際の顧客案件を対応<br />
            →講師のチェック/FB<br />
            →提案実践/コンペ
          </p>
        </div>
      </div>
    </div>  
  </div>
</div>

{% schema %}
{
  "name": "SectionMain",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "second_content",
      "label": "Second Content"
    },
    {
      "type": "image_picker",
      "id": "second_icon_a",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_b",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_c",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "third_icon_a",
      "label": "Third Icon"
    },
    {
      "type": "image_picker",
      "id": "third_icon_b",
      "label": "Third Icon"
    },
    {
      "type": "image_picker",
      "id": "third_image",
      "label": "Third Image"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_a_pc",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_b_pc",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_a_sp",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_b_sp",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_image",
      "label": "Fifth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_a",
      "label": "Sixth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_icon",
      "label": "Sixth Icon"
    },
    {
      "type": "image_picker",
      "id": "sixth_shape",
      "label": "Sixth Shape"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_b",
      "label": "Sixth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_c",
      "label": "Sixth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_d",
      "label": "Sixth Image"
    }
  ],
  "presets": [
    {
      "name": "SectionMain"
    }
  ]
}
{% endschema %}