<link rel="stylesheet" href="{{ 'section-main.css' | asset_url }}">

<div class="section_first_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_second_contain">
  <div class="text_contain">
    <h2>デジマスターとは？</h2>
  </div>
  <div class="block_contain">
    <div class="first_block">
      <img src="{{ section.settings.second_icon_a | image_url }}" alt="Second Icon">
      <p>6ヶ月でWebマーケターを育成するスクール</p>
    </div>
    <div class="second_block">
      <img src="{{ section.settings.second_icon_b | image_url }}" alt="Second Icon">
      <p>副業や転職で必須な実務経験を積める</p>
    </div>
    <div class="third_block">
      <img src="{{ section.settings.second_icon_c | image_url }}" alt="Second Icon">
      <p>卒業後は提案から実務までをこなせるWebマーケターに</p>
    </div>
  </div>
</div>

<div class="section_third_contain">
  <div class="text_contain">
    <h2>デジマスターの強み</h2>
  </div>
  <div class="block_contain">
    <div class="first_block">
      <div class="block_text">
        <h3>
          <span>01</span>業界最安値水準の月額¥12,298〜
        </h3>
      </div>
      <div class="block_table">
        <table>
          <thead>
            <tr>
              <th class="th1"></th>
              <th class="th2"><div>デジマスター</div></th>
              <th class="th3"><div>A社</div></th>
              <th class="th4"><div>B社</div></th>
              <th class="th5"><div>C社</div></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td1">受講費用（総額）</td>
              <td class="td2">24.8万円〜</td>
              <td class="td3">38.5万円〜</td>
              <td class="td3">46.2万円〜</td>
              <td class="td3">26.7万円〜</td>
            </tr>
            <tr>
              <td class="td1">入会金</td>
              <td class="td2"></td>
              <td class="td3">7万円</td>
              <td class="td3"></td>
              <td class="td3"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="second_block">
      <div class="block_text">
        <h3>
          <span>02</span>キャリア面談や追加講義などのオプションが充実
        </h3>
      </div>
      <div class="block_block">
        <div class="b_block_first">
          <div class="b_block_image">
            <img src="{{ section.settings.third_icon_a |  image_url }}" alt="Third Icon">
          </div>
          <div class="b_block_text">
            <h4>キャリア面談</h4>
            <p>現在も最前線で活躍するマーケティング/広告代理店出身者が模擬面談や書類添削を対応</p>
          </div>
        </div>
        <div class="b_block_second">
          <div class="b_block_image">
            <img src="{{ section.settings.third_icon_b | image_url }}" alt="Third Icon">
          </div>
          <div class="b_block_text">
            <h4>追加講義例</h4>
            <p>
              ・Chat GPT活用<br />
              ・HTML/CSS講座<br />
              ・Word Press入稿<br />
              ※1コマ〜選択可能。別途料金。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="third_block">
      <div class="block_text">
        <h3>
          <span>03</span>全額返金制度あり
        </h3>
      </div>
      <div class="block_image">
        <img src="{{ section.settings.third_image |  image_url }}" alt="Third Image">
      </div>
    </div>
  </div>
</div>

<div class="section_fourth_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "SectionMain",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "second_content",
      "label": "Second Content"
    },
    {
      "type": "image_picker",
      "id": "second_icon_a",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_b",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_c",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "third_icon_a",
      "label": "Third Icon"
    },
    {
      "type": "image_picker",
      "id": "third_icon_b",
      "label": "Third Icon"
    },
    {
      "type": "image_picker",
      "id": "third_image",
      "label": "Third Image"
    }
  ],
  "presets": [
    {
      "name": "SectionMain"
    }
  ]
}
{% endschema %}