<link rel="stylesheet" href="{{ 'section-main.css' | asset_url }}">

<div class="section_button_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_second_contain">
  <div class="text_contain">
    <h2>デジマスターとは？</h2>
  </div>
  <div class="block_contain">
    <div class="first_block">
      <img src="{{ section.settings.second_icon_a | image_url }}" alt="Second Icon">
      <p>6ヶ月でWebマーケターを育成するスクール</p>
    </div>
    <div class="second_block">
      <img src="{{ section.settings.second_icon_b | image_url }}" alt="Second Icon">
      <p>副業や転職で必須な実務経験を積める</p>
    </div>
    <div class="third_block">
      <img src="{{ section.settings.second_icon_c | image_url }}" alt="Second Icon">
      <p>卒業後は提案から実務までをこなせるWebマーケターに</p>
    </div>
  </div>
</div>

<div class="section_third_contain">
  <div class="text_contain">
    <h2>デジマスターの強み</h2>
  </div>
  <div class="block_contain">
    <div class="first_block">
      <div class="block_text">
        <div>
          <div>01</div>
          <h3>業界最安値水準の月額¥12,298〜</h3>
        </div>
      </div>
      <div class="block_table">
        <table>
          <thead>
            <tr>
              <th class="th1"></th>
              <th class="th2"><div>デジマ<br class="sp_table" />スター</div></th>
              <th class="th3"><div>A社</div></th>
              <th class="th4"><div>B社</div></th>
              <th class="th5"><div>C社</div></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td1">受講費用（総額）</td>
              <td class="td2">24.8<span>万円〜</span></td>
              <td class="td3">38.5<span>万円〜</span></td>
              <td class="td3">46.2<span>万円〜</span></td>
              <td class="td3">26.7<span>万円〜</span></td>
            </tr>
            <tr>
              <td class="td1">入会金</td>
              <td class="td2">-</td>
              <td class="td3">7<span>万円</span></td>
              <td class="td3">-</td>
              <td class="td3">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="second_block">
      <div class="block_text">
        <div>
          <div>02</div>
          <h3>キャリア面談や追加講義などのオプションが充実</h3>
        </div>
      </div>
      <div class="block_block">
        <div class="b_block_first">
          <div class="b_block_image">
            <img src="{{ section.settings.third_icon_a |  image_url }}" alt="Third Icon">
          </div>
          <div class="b_block_text">
            <h4>キャリア面談</h4>
            <p>現在も最前線で活躍するマーケティング/広告代理店出身者が模擬面談や書類添削を対応</p>
          </div>
        </div>
        <div class="b_block_second">
          <div class="b_block_image">
            <img src="{{ section.settings.third_icon_b | image_url }}" alt="Third Icon">
          </div>
          <div class="b_block_text">
            <h4>追加講義例</h4>
            <p>
              ・Chat GPT活用<br />
              ・HTML/CSS講座<br />
              ・Word Press入稿<br />
              ※1コマ〜選択可能。別途料金。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="third_block">
      <div class="block_text">
        <div>
          <div>03</div>
          <h3>全額返金制度あり</h3>
        </div>
      </div>
      <div class="block_image">
        <img src="{{ section.settings.third_image |  image_url }}" alt="Third Image">
      </div>
    </div>
  </div>
</div>

<div class="section_button_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_fifth_contain">
  <div class="wrapper_fifth">
    <div class="text_contain">
      <h2>未経験から本当に大丈夫？</h2>
    </div>
    <div class="shape_contain">
      <div class="shape_first">
        <img src="{{ section.settings.fifth_shape_a_pc|  image_url }}" alt="Fifth Shape" class="shape_pc" />
        <img src="{{ section.settings.fifth_shape_a_sp |  image_url }}" alt="Fifth Shape" class="shape_sp" />
        <p>PCスキルに<br class="sp_p" />自信がない。。</p>
      </div>
      <div class="shape_second">
        <img src="{{ section.settings.fifth_shape_b_pc |  image_url }}" alt="Fifth Shape" class="shape_pc" />
        <img src="{{ section.settings.fifth_shape_b_sp |  image_url }}" alt="Fifth Shape" class="shape_sp" />
        <p>マーケティングは<br class="sp_p" />難しそう。。</p>
      </div>
    </div>
    <div class="image_contain">
      <img src="{{ section.settings.fifth_image | image_url }}" alt="Fifth Image">
    </div>
  </div>
</div>

<div class="section_sixth_contain">
  <div class="wrapper_sixth">
    <div class="text_contain">
      <h2>知識だけでは足りない。<br />
        実際に求められるのは、<br class="sp_block"/><span>“即戦力の実務経験”</span>です。
      </h2>
    </div>

    <div class="block_first">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_a | image_url }}" alt="Sixth Image">
      </div>
      <div class="text_contain">
        <h3>Webマーケティング業界の現状</h3>
        <div class="text_check">
          <div class="check">
            <img src="{{ section.settings.sixth_icon | image_url }}" alt="Sixth Icon">
            <p>案件には「実務経験者歓迎」の文字がずらり</p>
          </div>
          <div class="check">
            <img src="{{ section.settings.sixth_icon | image_url }}" alt="Sixth Icon">
            <p>初心者の壁を越えるには、経験が必要</p>
          </div>
          <div class="check">
            <img src="{{ section.settings.sixth_icon | image_url }}" alt="Sixth Icon">
            <p>でも、どうやって経験を積むの？</p>
          </div>
        </div>
      </div>
    </div>

    <dvi class="block_second">
      <div class="text_contain">
        <div class="sixth_shape">
          <img src="{{ section.settings.sixth_shape | image_url }}" alt="Sixth Shape">
        </div>
        <h3>あなたの答えはここにあります</h3>
      </div>
      <div class="text_contain_b">
        <h4>
          <span>デジマスター</span>は、 <br class="sp_block" />
          "<span>リアルな実務経験</span>"を提供する<br />
          Webマーケティングスクールです。
        </h4>
      </div>
    </dvi>

    <div class="block_third">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_b | image_url }}" alt="Sixth Image" class="pc_image">
        <img src="{{ section.settings.sixth_image_b_sp | image_url }}" alt="Sixth Image" class="sp_image">
      </div>
      <div class="text_contain">
        <div>01</div>
        <h3>クライアント案件で実践</h3>
        <p>* 実際の企業と連携し、2ヶ月間のリアルなプロジェクトを担当。</p>
        <p>* 成果を出すことで、自信と実績を手に入れられます。</p>
      </div>
    </div>  

    <div class="block_fourth">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_c | image_url }}" alt="Sixth Image" class="pc_image">
        <img src="{{ section.settings.sixth_image_c_sp | image_url }}" alt="Sixth Image" class="sp_image">
      </div>
      <div class="text_contain">
        <div>02</div>
        <h3>初心者でも安心のサポート</h3>
        <p>* 専任講師による丁寧な指導。</p>
        <p>* わからないことはすぐに相談できる環境。</p>
      </div>
    </div>  

    <div class="block_fifth">
      <div class="image_contain">
        <img src="{{ section.settings.sixth_image_d | image_url }}" alt="Sixth Image" class="pc_image">
        <img src="{{ section.settings.sixth_image_d_sp | image_url }}" alt="Sixth Image" class="sp_image">
      </div>
      <div class="text_contain">
        <div>03</div>
        <h3>学んだスキルを即活用</h3>
        <p>* 実務に直結するスキルセット。</p>
        <p>* 修了後には自信を持って次のステップへ。</p>
      </div>
    </div>

    <div class="block_sixth">
      <div class="first_contain">
        <div class="text_title">
          <p>1ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            基礎研修<br />
            →Webマーケティングとは,<br />
            →指標/ツール/媒体の基本
          </p>
        </div>
      </div>
      <div class="second_contain">
        <div class="text_title">
          <p>2ヶ月目〜3ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            実務準備<br />
            →実務講義＋実践<br />
            →中間テスト
          </p>
        </div>
      </div>
      <div class="third_contain">
        <div class="text_title">
          <p>4ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            データ分析<br />
            →計測ツールの講義＋実践<br />
            →座学最終テスト
          </p>
        </div>
      </div>
      <div class="fourth_contain">
        <div class="text_title">
          <p>6ヶ月目</p>
        </div>
        <div class="text_content">
          <p>
            実務研修<br />
            →実際の顧客案件を対応<br />
            →講師のチェック/FB<br />
            →提案実践/コンペ
          </p>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="section_white_space"><span></span></div>

<div class="section_button_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_nineth_contain">
  <div class="wrapper_nineth">
    <div class="text_contain">
      <h2>受講生の声</h2>
    </div>
    <div class="block_contain">
      <div class="first_block">
        <div class="image_contain">
          <img src="{{ section.settings.nineth_image_a | image_url }}" alt="Nineth Image" class="pc_image" />
          <img src="{{ section.settings.nineth_image_a_sp | image_url }}" alt="Nineth Image" class="sp_image" />
        </div>
        <div class="text_contain">
          <h4>{{ section.settings.nineth_title_a }}</h4>
          <p>{{ section.settings.nineth_text_a }}</p>
        </div>
      </div>
      <div class="second_block">
        <div class="image_contain">
          <img src="{{ section.settings.nineth_image_b | image_url }}" alt="Nineth Image" class="pc_image" />
          <img src="{{ section.settings.nineth_image_b_sp | image_url }}" alt="Nineth Image" class="sp_image" />
        </div>
        <div class="text_contain">
          <h4>{{ section.settings.nineth_title_b }}</h4>
          <p>{{ section.settings.nineth_text_b }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_tenth_contain">
  <dvi class="wrapper_tenth">
    <div class="text_contain">
      <h2>サポート</h2>
      <p>副業や転職など、あなたが目指す姿を全力でサポートします</p>
    </div>
    <div class="image_contain">
      <div class="first_image">
        <img src="{{ section.settings.tenth_image_a | image_url }}" alt="Tenth Image A">
        <p>副業案件紹介</p>
      </div>
      <div class="second_image">
        <img src="{{ section.settings.tenth_image_b | image_url }}" alt="Tenth Image B">
        <p>求人紹介</p>
      </div>
      <div class="third_image">
        <img src="{{ section.settings.tenth_image_c | image_url }}" alt="Tenth Image C">
        <p>プロのチャット相談</p>
      </div>
    </div>
  </dvi>
</div>

<div class="section_eleventh_contain">
  <div class="wrapper_eleventh">
    <div class="text_contain">
      <h2>選ばれる理由</h2>
    </div>
    <div class="shape_contain">
      <div class="first_shape">
        <img src="{{ section.settings.eleventh_shape_a | image_url }}" alt="Eleventh Shape A" />
        <p>実績重視卒業後すぐに使える<br class="pc_block" /><b>ポートフォリオ</b>を作成。</p>
      </div>
      <div class="second_shape">
        <img src="{{ section.settings.eleventh_shape_b | image_url }}" alt="Eleventh Shape B" />
        <p>柔軟な学習スタイル<b>オンライン対応</b>で、<br class="pc_block" />どこからでも参加可能。</p>
      </div>
    </div>
  </div>
</div>

<div class="section_button_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_twelveth_contain">
  <div class="wrapper_twelveth">
    <div class="text_contain">
      <h2>スタッフ紹介</h2>
    </div>
    <div class="image_contain">
      <div class="first_image">
        <img src="{{ section.settings.twelveth_image_a | image_url }}" alt="Twelveth Image A">
        <h4>{{ section.settings.twelveth_title_a }}<span>{{ section.settings.twelveth_job_a }}</span></h4>
        <div><sapn></sapn></div>
        <p>{{ section.settings.twelveth_text_a }}</p>
      </div>
      <div class="second_image">
        <img src="{{ section.settings.twelveth_image_b | image_url }}" alt="Twelveth Image B">
        <h4>{{ section.settings.twelveth_title_b }}<span>{{ section.settings.twelveth_job_b }}</span></h4>
        <div><sapn></sapn></div>
        <p>{{ section.settings.twelveth_text_b }}</p>
      </div>
      <div class="third_image">
        <img src="{{ section.settings.twelveth_image_c | image_url }}" alt="Twelveth Image C">
        <h4>{{ section.settings.twelveth_title_c }}<span>{{ section.settings.twelveth_job_c }}</span></h4>
        <div><sapn></sapn></div>
        <p>{{ section.settings.twelveth_text_c }}</p>
      </div>
    </div>
  </div>
</div>

<div class="section_thirteenth_contain">
  <div class="wrapper_thirteenth">
    <div>
      <div class="text_contain">
        <h4><span>／</span>あなたも一歩踏み出してみませんか？<span>／</span></h4>
        <div>
          <h4>Webマーケターになる第一歩は、<span>デジマスター</span>でのリアルな実務経験から。</h4>
        </div>
      </div>
      <div class="shape_contain">
        <div class="shape_a">
          <p>今なら特典付き！</p>
        </div>
        <div class="shape_b">
          <p>初回無料相談</p>
        </div>
      </div>
      <div class="button_contain">
        <a href="{{ section.settings.apply_btn_url_ }}">
          <p class="pc_block">お申込みはこちらから</p>
          <p class="sp_block">無料相談はこちらから</p>
          <span>&#10095;</span>
        </a>
      </div>
      <div class="price_contain">
        <div class="total_price pc_block">総額</div>
        <div class="total_price sp_block">月額<br />費用</div>
        <p><span>¥</span><span>{{ section.settings.thirteenth_price_text }}</span>（税込）</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "SectionMain",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "second_icon_a",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_b",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_c",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "third_icon_a",
      "label": "Third Icon"
    },
    {
      "type": "image_picker",
      "id": "third_icon_b",
      "label": "Third Icon"
    },
    {
      "type": "image_picker",
      "id": "third_image",
      "label": "Third Image"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_a_pc",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_b_pc",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_a_sp",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_shape_b_sp",
      "label": "Fifth Shape"
    },
    {
      "type": "image_picker",
      "id": "fifth_image",
      "label": "Fifth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_a",
      "label": "Sixth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_icon",
      "label": "Sixth Icon"
    },
    {
      "type": "image_picker",
      "id": "sixth_shape",
      "label": "Sixth Shape"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_b",
      "label": "Sixth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_c",
      "label": "Sixth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_d",
      "label": "Sixth Image"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_b_sp",
      "label": "Sixth Image SP"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_c_sp",
      "label": "Sixth Image SP"
    },
    {
      "type": "image_picker",
      "id": "sixth_image_d_sp",
      "label": "Sixth Image SP"
    },
    {
      "type": "image_picker",
      "id": "nineth_image_a",
      "label": "Nineth Image"
    },
    {
      "type": "image_picker",
      "id": "nineth_image_a_sp",
      "label": "Nineth Image SP"
    },
    {
      "type": "image_picker",
      "id": "nineth_image_b",
      "label": "Nineth Image"
    },
    {
      "type": "image_picker",
      "id": "nineth_image_b_sp",
      "label": "Nineth Image SP"
    },
    {
      "type": "text",
      "id": "nineth_title_a",
      "label": "Nineth Title"
    },
    {
      "type": "text",
      "id": "nineth_text_a",
      "label": "Nineth Text"
    },
    {
      "type": "text",
      "id": "nineth_title_b",
      "label": "Nineth Title"
    },
    {
      "type": "text",
      "id": "nineth_text_b",
      "label": "Nineth Text"
    },
    {
      "type": "image_picker",
      "id": "tenth_image_a",
      "label": "Tenth Image"
    },
    {
      "type": "image_picker",
      "id": "tenth_image_b",
      "label": "Tenth Image"
    },
    {
      "type": "image_picker",
      "id": "tenth_image_c",
      "label": "Tenth Image"
    },
    {
      "type": "image_picker",
      "id": "eleventh_shape_a",
      "label": "Eleventh Shape"
    },
    {
      "type": "image_picker",
      "id": "eleventh_shape_b",
      "label": "Eleventh Shape"
    },
    {
      "type": "image_picker",
      "id": "twelveth_image_a",
      "label": "Twelveth Image A"
    },
    {
      "type": "text",
      "id": "twelveth_title_a",
      "label": "Twelveth Title A"
    },
    {
      "type": "text",
      "id": "twelveth_job_a",
      "label": "Twelveth Job A"
    },
    {
      "type": "text",
      "id": "twelveth_text_a",
      "label": "Twelveth Text A"
    },
    {
      "type": "image_picker",
      "id": "twelveth_image_b",
      "label": "Twelveth Image B"
    },
    {
      "type": "text",
      "id": "twelveth_title_b",
      "label": "Twelveth Title B"
    },
    {
      "type": "text",
      "id": "twelveth_job_b",
      "label": "Twelveth Job B"
    },
    {
      "type": "text",
      "id": "twelveth_text_b",
      "label": "Twelveth Text B"
    },
    {
      "type": "image_picker",
      "id": "twelveth_image_c",
      "label": "Twelveth Image C"
    },
    {
      "type": "text",
      "id": "twelveth_title_c",
      "label": "Twelveth Title C"
    },
    {
      "type": "text",
      "id": "twelveth_job_c",
      "label": "Twelveth Job C"
    },
    {
      "type": "text",
      "id": "twelveth_text_c",
      "label": "Twelveth Text C"
    },
    {
      "type": "text",
      "id": "thirteenth_price_text",
      "label": "Thirteenth Price Text "
    },
    {
      "type": "url",
      "id": "apply_btn_url_",
      "label": "Apply Button Link"
    }
  ],
  "presets": [
    {
      "name": "SectionMain"
    }
  ]
}
{% endschema %}