<link rel="stylesheet" href="{{ 'section-main.css' | asset_url }}">

<div class="section_first_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div class="section_second_contain">
  <div class="text_contain">
    <h2>デジマスターとは？</h2>
  </div>
  <div class="block_contain">
    <div class="first_block">
      <img src="{{ section.settings.second_icon_a | image_url }}" alt="Second Icon">
      <p>6ヶ月でWebマーケターを育成するスクール</p>
    </div>
    <div class="second_block">
      <img src="{{ section.settings.second_icon_b | image_url }}" alt="Second Icon">
      <p>副業や転職で必須な実務経験を積める</p>
    </div>
    <div class="third_block">
      <img src="{{ section.settings.second_icon_c | image_url }}" alt="Second Icon">
      <p>卒業後は提案から実務までをこなせるWebマーケターに</p>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "SectionMain",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "second_content",
      "label": "Second Content"
    },
    {
      "type": "image_picker",
      "id": "second_icon_a",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_b",
      "label": "Second Icon"
    },
    {
      "type": "image_picker",
      "id": "second_icon_c",
      "label": "Second Icon"
    }
  ],
  "presets": [
    {
      "name": "SectionMain"
    }
  ]
}
{% endschema %}