<link rel="stylesheet" href="{{ 'section-lp-banner.css' | asset_url }}">

{% style %}
  .image_banner {
    background-image: url("{{ section.settings.background_image_lp |  image_url }}");
  }
  
  @media (min-width: 576px) {  
    .text_banner.has-bg {  
      background-image: url('{{ section.settings.bg_opacity | image_url }}');  
    }  
  }

  @media (max-width: 575px) {    
    .image_banner {
      background-image: url("{{ section.settings.background_image_sp |  image_url }}");
    }
  }
{% endstyle %}

<div class="section_image_banner">
  <div class="image_banner">
  </div>
<div class="text_banner has-bg">
    <div class="text_contain">
      月額 ¥<span>12,298</span>〜<br />
      実務経験が積める<br />
      Webマーケティング<br class="sp_br" />スクール
    </div>
    <a href="{{ section.settings.btn_url }}" class="button_banner">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon" />
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

{%  schema  %} 
{
  "name": "HeroSection",
  "tag": "section",
  "class": "landing-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image_lp",
      "label": "Background Image LP"
    },
    {
      "type": "image_picker",
      "id": "background_image_sp",
      "label": "Background Image SP"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "image_picker",
      "id": "bg_opacity",
      "label": "Background Opacity Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "HeroSection"
    }
  ]
}
{% endschema %}